<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">  

	<bean id="h2Server" class="org.h2.tools.Server" factory-method="createTcpServer" init-method="start" destroy-method="stop" depends-on="h2WebServer">
	    <constructor-arg value="-tcp,-tcpAllowOthers,-tcpPort,9092"/>
	</bean>	
	<bean id="h2WebServer" class="org.h2.tools.Server" factory-method="createWebServer" init-method="start" destroy-method="stop">
	    <constructor-arg value="-web,-webAllowOthers,-webPort,8082"/>
	</bean>	
	
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" scope="singleton">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses" ref="annotatedClasses" />
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.H2Dialect
                hibernate.bytecode.use_reflection_optimizer=false
                hibernate.current_session_context_class=thread
                hibernate.cache.use_query_cache=false
                hibernate.hbm2ddl.auto=validate
                hibernate.cache.use_second_level_cache=false
                hibernate.hbm2ddl.auto=create
            </value>
        </property>
    </bean>	
    
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:~/test" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>
    
	<import resource="hibernate-classes.xml" />
	
    <bean id="hibernateDataProvider" class="ru.springtest.app.HibernateDataProvider" scope="singleton">
        <constructor-arg ref="sessionFactory"/>
    </bean>    
    
    <bean id="lookup" class="ru.springtest.app.Lookup">
        <constructor-arg name="dataProvider" ref="hibernateDataProvider"/>
    </bean>    
	
    <bean id="dbTestData" class="ru.springtest.app.DbTestDataLoader" scope="singleton" init-method="load" depends-on="h2Server, sessionFactory, dataSource, lookup">
        <constructor-arg name="userCount" value="10" />
        <constructor-arg name="messageCount" value="10" />
	</bean>
          
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
    

</beans>